p{
    color:brown;
    text-align: center;
    line-height: 30px;
}
h1{
    text-align: center;
    color: red;
    font-family: Georgia;
}
h3{
    text-align: center;
    color:#000;

}
a{
    color:rgb(0,225,0);
    text-decoration:none;
}
button{
    background-color: #fff;
    color: blueviolet;
}
textarea{
    color:#000
}
span{
    text-decoration: underline;
}